// COMMON
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $main_text_color;
}

section {
    padding: $section_padding;
}

.container {
    width: $container_size;
    margin: auto;
}

.small_container {
    width: $small_container_size;
    margin: auto;
}

.txt_center {
    text-align: center;
}

.divider_x {
    margin: $divider_x_margin;
}

.divider_xx {
    margin: $divider_xx_margin;
}

h1 {
    font-size: $h1_size;
    text-transform: uppercase;
}

h2 {
    font-size: $h2_size;
    text-transform: uppercase;
}

h3 {
    font-size: $h3_size;
}

h4 {
    font-size: $h4_size;
}

h5 {
    font-size: $h5_size;
}

h6 {
    font-size: $h6_size;
    font-weight: 400;
    text-transform: uppercase;
}

.paragraph {
    color: $secondary_text_color;
    font-size: $paragraph_size;
    line-height: $parag_line_height;
}

.footer_txt {
    color: $secondary_text_color;
    font-size: 13px;
}

input {
    outline: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.social {

    a {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border-radius: 5%;
        position: relative;

        i {
            @include centered;
        }
    }
}

.button {
    
    @include button;

    &:active {
        transform: translateY(2px);
    }
}

.white_btn {
    color: $main_text_color;
    border-color: $main_text_color;
}

.two_col {

    @include two_columns;

    &::after {
        @include clearfix;
    }
}

.three_col {

    @include three_columns;

    &::after {
        @include clearfix;
    }
}

.four_col {

    @include four_columns;

    &::after {
        @include clearfix;
    }
}