// MAIN

// sezione qualità
#quality {

    background-color: $brand_primary_color;

    .description {
        color: $secondary_text_color;
        font-size: $description_size;
        line-height: $subtitle_line_height;
    }
}

// sezione registrati
#sign_up {

    background-color: $brand_third_color;

    h3 {
        margin-bottom: 40px;
    }

    label {

        color: $secondary_text_color;
    }

    input {
        
        width: 100%;
        height: 50px;
        margin: 10px 0 30px;
        padding: 0 10px;
        font-size: $description_size;
        color: $secondary_text_color;
        background-color: $brand_primary_color;
        border: 1px solid $brand_secondary_color;

        &.button {
            color: $main_text_color;
            background-color: $brand_details_color;
            border-color: $brand_details_color;

            &:hover {
                color: $brand_details_color;
                background-color: $brand_third_color;
                border-color: $brand_details_color;
            }
        }
    }
}

// sezione servizi
#services {

    background-image: $services_image;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .col {

        .icon {
            width: 100px;
            height: 100px;
            border: 2px solid $brand_details_color;
            border-radius: 50%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        i {
            font-size: 50px;
            color: $brand_details_color;
            @include centered;
        }

        h4 {
            margin: 15px 0;
        }
    }

}

// sezione recensioni
#reviews {

    background-color: $brand_primary_color;

    .single_review {
        background-color: $brand_third_color;
        padding: 20px;
        margin-bottom: 40px;
        @include display-flex;

        .review_txt {
            padding: 0 25px;
        }
    }

}

// sezione qualità
#performance {
    background-color: $brand_primary_color;

    .performance_img:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    }
}

// sezione motivazione
#motivation {

    background-image: $motivation_image;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .motivation_text {
        margin: 30px 0;
        letter-spacing: 2px;
        line-height: $title_line_height;

        .cit {
            font-size: 30px;
        }
    }
}

// sezione allenatori
#trainers {

    background-color: $brand_third_color;

    .row {
        margin-bottom: 50px;
    }

    .col {
        background-color: $brand_primary_color;
    }

    .trainer_card {

        .trainer_descr {

            padding: 30px;
            line-height: 25px;
    
            .paragraph {
                margin: 25px 0;
            }
        }
    
        .social {
    
            a {
                color: $main_text_color;
                background-color: $brand_third_color;
    
                &:visited {
                    color: $main_text_color;
                }
            }
        }

        &:hover .trainer_img {
            transform: scale(1.05);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        }

    }



    .button {

        &:hover {
            color: $brand_details_color;
            border-color: $brand_details_color;
        }
    }
}

// sezione news articoli
#news {

    background-color: $brand_primary_color;

    .single_new {
        background-color: $brand_third_color;
        margin-bottom: 40px;

        .news_article {
            
            padding: 25px 20px;
            line-height: $parag_line_height;

            h3 {
                margin-bottom: 10px;
            }
        }

        .news_img {

            position: relative;
            width: 100%;
    
            .layover {
                width: calc(100% + 2px);
                height: calc(100% + 2px);
                background-color: rgba($brand_details_color, 0.9);
                cursor: pointer;
                @include centered;
                display: none;

                i {
                    font-size: $h3_size;
                    margin: 0 10px;
                }
            }
        }

        &:hover .layover {
            @include display-flex;
            justify-content: center;
            align-items: center;
        }
    }

    .button {

        &:hover {
            color: $brand_details_color;
            border-color: $brand_details_color;
        }
    }
}

// sezione obiettivi/motivazione
#goals {
    background-image: $goals_image;
    background-size: cover;
    background-position-x: center;
    background-position-y: -150px;
    background-repeat: no-repeat;
    padding: 60px 0;

    .container {

        @include display-flex;

        .title {

            flex-grow: 1;

            h2 {
                text-transform: capitalize;
                margin-bottom: 15px;
            }
        }
    }
}