// HEADER
header {
    width: 100%;
    height: 100vh;
    padding: 40px 100px 0;
    background-color: #252a2d;
    background-image: $header_image;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .title {

        width: 100%;
        @include centered;
    
        h1 {
            text-transform: uppercase;
        }
    
        span {
            display: block;
            margin: 20px 0 40px 0;
            font-size: $sub_title_size;
        }
    
        a {
            font-size: $sub_title_size;
            color: $main_text_color;
            text-transform: uppercase;
            display: inline-block;
            padding: 15px 35px;
            border: 1px solid $main_text_color;

            &:hover {
                color: $brand_secondary_color;
                border-color: $brand_secondary_color;
            }
        }
    
    }
}

.nav_bar {

    @include display-flex;
    justify-content: space-between;
    align-items: center;

    li {
        display: inline-block;
        margin-left: 35px;
    }

    a {
        color: $main_text_color;
        text-transform: uppercase;
        font-weight: 500;

        &:hover {
            color: $brand_secondary_color;
        }

        &.active {
            color: $brand_details_color;
        }
    }
}