// MIXINS

// display flex
@mixin display-flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

// clearfix
@mixin clearfix {
    content: "";
    display: table;
    clear: both;
}

// elemento centrato
@mixin centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// bottone
@mixin button {
    text-transform: uppercase;
    font-size: $description_size;
    padding: 15px 35px;
    display: inline-block;
    border: 1px solid;
    cursor: pointer;
}

// impostazione a due colonne
@mixin two_columns {

    .col {
        width: calc(50% - 25px);
        float: left;
    }

    .col_sx {
        margin-right: 25px;
    }

    .col_dx {
        margin-left: 25px;
    }
}

// impostazione a tre colonne
@mixin three_columns {

    .col {
        width: calc((100% / 3) - 40px);
        float: left;

        img {
            width: 100%;
        }
    }

    .col_sx {
        margin: 20px 20px 20px 0;
    }

    .col_cx {
        margin: 20px 20px 20px 20px;
    }

    .col_dx {
        margin: 20px 0 20px 20px;
    }
}

// impostazione a quattro colonne
@mixin four_columns {

    .col {
        width: calc(25% - 25px);
        float: left;
        margin: 0 12.5px;
    }
}