// VARIABLES
// color palette
$brand_primary_color: #252a2d;
$brand_secondary_color: #6b6b6b;
$brand_details_color: #d5625f;
$main_text_color: #fefefe;

// links
$header_image: url("../img/home-banner.jpg");

// font-size
$h1_size: 90px;
$h2_size: 40px;
$sub_title_size: 20px;
$description_size: 18px;

// container size
$container_size: 900px;
$small_container_size: 830px;

// margin - padding
$section_padding: 120px 0;
$divider_margin: 30px 0;